In [1]:
#print your first and last name to the screen

print("mattie terzolo")

mattie terzolo

In [2]:
"mattie terzolo"

'mattie terzolo'

In [3]:
#add 16 and 23 together and print the result to the screen

print(16 + 23)

39

In [4]:
#add a comment to the code below to explain what you are doing

#print error message
print("Program has failed")

Program has failed

In [5]:
#add the product of 3 and 654 with 34 raised to the 4th power

(3 * 654) + 34 ** 4

1338298

In [6]:
#declare a variable named x that contains the integer 4

x = 4

In [7]:
#print to the screen what type of variable y is

y = 45.3

type(y)

float

In [8]:
#declare 3 variables with the values 3, 17, and 66.5

length = 3

height = 17

width = 66.5

#calculate the volume of the box and store the result as a volume

volume = length * height * width

volume

3391.5

In [9]:
#fix the print out to prove to the world you are a python master

first_name = 'mattie'

last_name = 'terzolo'

lesson_number = 1

print(first_name + ' ' + last_name + ' ' + "has mastered lesson number " + str(lesson_number))

mattie terzolo has mastered lesson number 1