# Week 2 Lists

We will learn what lists are and why they are more helpful than storing information in a simple variable. We will learn how to create, subset, and manipulate lists in this lesson.

## Why are lists helpful?

Imagine we have the length from the box in our previous problem, but now we have the lengths from 3 other boxes. How would we calculate the average length?

In [1]:
#declare all length variables

length_1 = 3

length_2 = 6

length_3 = 17

length_4 = 26

#add all lengths together and divide by 4

avg_length = (length_1 + length_2 + length_3 + length_4) / 4

avg_length

13.0

## Create a list instead

In [2]:
#delcare list variable with all the corrisponding values

lengths = [3, 6, 17, 26]

#add all elements in list and divide by 4

sum(lengths) / 4

13.0

## Rules for creating lists

Lists are contained in square brackets

Items in list must be seperated by commas

Can contain any type

Can contain different types

In [3]:
#list containing all strings

descriptions = ['small box', 'medium box', 'large box', 'extra large box']

#list containing strings and integers

lengths_descs = ['small box', 3, 'medium box', 6, 'large box', 17, 'extra large box', 26]

#list inside of a list

listception = [['small box', 3],['medium box', 6],['large box', 17],['extra large box', 26]]

#ok...someone might need to call leo to help with this one

bwaaaaa = [[['kidnapped', 'van'],['crash','bridge']],[['hotel','upside down'],['cobb']],[['snow','fortress'],['father']]]

## Lists have a specific type

Like our other data types, there are certain functionalities available to lists and there are certain functionalities that are not available to lists

In [4]:
type(listception)

list

# Subsetting Lists (Selecting certain items)

Python uses zero based indexing which means we start counting at zero instead of one. We use square brackets to subset many different data types in python (lists, columns in a dataframe, etc).

In [5]:
descriptions

['small box', 'medium box', 'large box', 'extra large box']

In [6]:
#select the first element in a list

descriptions[0]

'small box'

In [7]:
#select the third element in a list

descriptions[2]

'large box'

In [10]:
#select the last element in a list

descriptions[-1]

'extra large box'

# Subsetting multiple items in a list

Sometimes we want to grab first two items or the last three items in a list. We still use our zero based indexing principle and square brackets from above, but now we introduce the concept of colon.

[ start : end ]


[ included : excluded ]

In [11]:
descriptions

['small box', 'medium box', 'large box', 'extra large box']

In [16]:
#select the second through the fourth items in the list

descriptions[0:4]

['small box', 'medium box', 'large box', 'extra large box']

In [20]:
descriptions[1:]

['medium box', 'large box', 'extra large box']

In [21]:
#select the last two items in the list

descriptions[-2:]

['large box', 'extra large box']

In [34]:
#select the first two items in the list

descriptions[:3]

['small box', 'medium box', 'large box']

In [31]:
[descriptions[0], descriptions[3]]

['small box', 'extra large box']

## Manipulating lists

Now we will take a look at how to change elements in a list, add elements to the list, and remove elements from a list.

In [35]:
lengths

[3, 6, 17, 26]

In [36]:
#change the 4th element in the list lengths to 45

lengths[3] = 45

lengths

[3, 6, 17, 45]

In [43]:
#change the 2nd element in the 4th list inside of listception
listception[3][1] = 45

listception

[['small box', 3],
 ['medium box', 6],
 ['large box', 17],
 ['extra large box', 45]]

In [44]:
#add elements to the list

lengths + 5

TypeError: can only concatenate list (not "int") to list

In [45]:
#you can only concatenate lists

lengths + [5]

[3, 6, 17, 45, 5]

In [46]:
#the list you are concatenating can have multiple elements

lengths = lengths + [5, 17]

lengths

[3, 6, 17, 45, 5, 17]

In [48]:
#remove the last element of the list

del(lengths[-1])

lengths

[3, 6, 17, 45]

In [53]:
lengths[0:3]

[3, 6, 17]

In [54]:
#remove by subsetting the data

lengths = lengths[:-1]

lengths

[3, 6, 17]

# List Operations

There are a few operations we can perform on lists

In [56]:
#get the sum of the contents in a list

sum(lengths)

26

In [57]:
#get the number of elements in a list

len(lengths)

3

In [59]:
sum([34.5,67.4])

101.9

In [74]:
test = [1,2,3,4]

In [82]:
test_1 = test

In [83]:
del(test_1[0])

In [84]:
test_1

[2, 3, 4]

In [85]:
test

[2, 3, 4]

In [86]:
id(test)

178878059528

In [87]:
id(test_1)

178878059528